@import "/imports/ui/stylesheets/variables/_all";

.videoDock {
  width: 100%;
  top: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 100%;
}

.videoDock video {
  width: 100%;
  top: 0;
  position: absolute;
  max-height: 100%;
}

.webcamArea {
  display: grid;
  grid-auto-flow: column;
  height: 100%;
  align-content: flex-end;
  justify-content: flex-end;

  @include mq($portrait) {
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
  }
}

.webcamAreaSwappedLayout {
  grid-template-columns: repeat(1, auto);
  grid-template-rows: min-content;
  grid-auto-flow: row;
  align-content: center;
  justify-content: center;
}

.videoWrapper {
  width: 100%;
}

/* TODO rename */
.reparentableDiv {
  height: 100%;
  width: 100%;
}

%ratio {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  padding-bottom: calc(100% * 9 / 16);
}

.sharedWebcamVideo {
  display: none;
  vertical-align: middle;

  @include mq($portrait) {
    max-width: 170px;
    max-height: 96px;
  }
}

.sharedWebcamVideoLocal {
  @extend %ratio;
  display: flex;
  flex: 1;
  text-align: center;
  align-items: center;
  justify-content:center;
  width: 100%;
  position: relative;
}

.videoContainer {
  background-color: #000;
}

.videoText {
  margin-top: -22px;
  padding: 0 5px;
  z-index: 1;
  text-align: left;
  position: absolute;
  left: 0;
  bottom: 0;
}

.userName {
  color: #FFFFFF;
  background: #555;
  padding: 3px 8px;
  border-radius: 0.75rem;
  font-size: 10px;
  line-height: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
}

