@import "/imports/ui/stylesheets/variables/_all";

.videoDock {
  //position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  text-align: center;

  height: 100%;

  @include mq($portrait) {
    height: 96px;
  }
}

.videoDock video {
  width: 100%;
  top: 0;
  position: absolute;
  max-height: 100%;
}

.webcamArea {
  display: flex;
  flex-direction: column;
  height: 100%;

  @include mq($portrait) {
    justify-content: center;
    background: #04111F;
    flex-direction: row;
  }
}

.sharedWebcamVideo {
  display: none;
  vertical-align: middle;

  @include mq($portrait) {
    max-width: 170px;
    max-height: 96px;
  }
}

.sharedWebcamVideoLocal {
  display: flex;
  flex: 1;
  text-align: center;
  align-items: center;
  justify-content:center;
  width: 100%;
  background: yellow;
  position: relative;
  max-height: 11vw; // TODO better way to fix? need to test with 16x9 cam

  @include mq($portrait) {
    max-width: 170px;
    max-height: 96px;
  }
}

.videoContainer {
  background-color: #000;
}

.videoText {
  margin-top: -22px;
  padding: 0 5px;
  z-index: 1;
  text-align: left;
  position: absolute;
  left: 0;
  bottom: 0;
}

.userName {
  color: #FFFFFF;
  background: #555;
  padding: 3px 8px;
  border-radius: 0.75rem;
  font-size: 10px;
  line-height: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
  display: inline-block;
  max-width: 100%;
}

.pauseButton {
  float: right;

  span:last-child {
    display: none;
  } // TODO fix it better

  span:first-child {
    background: #D8D8D8;
    border: 1px solid #555;

    i {
      font-size: 11px; // TODO size should be set on button?
      color: #555;
    }
  }
}
